/* Site Header Style */
.site-header {
    padding: 25px 0;
    background: #fff;
}

.site-branding a {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
	color: #303030;
	font-family: 'Titillium Web', sans-serif;
}

/* Entry Meta Style */
.entry-header {
	padding: 80px 0 0;
}

.entry-header .post-thumbnail {
	margin-top: 40px;
	display: block;
}

.entry-header .entry-title {
	font-size: 44px;
	/*margin-bottom: 15px;*/
}

.entry-header .post-category {
	font-weight: 700;
	margin-bottom: 10px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}

.entry-meta {
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	flex-wrap: wrap;
	font-size: 85%;
}

.byline .author {
	display: inline-flex;
	align-items: center;
	font-weight: 500;
}

.byline .author .author_avatar {
	margin-right: 10px;
}

.byline .author .author_avatar img {
	border-radius: 50%;
	vertical-align: middle;
}

.entry-meta .sep {
	/*font-size: 80%;*/
	color: #bcbcbc;
	padding: 0 12px;
}

.entry-meta a {
	color: #303030;
}

/* Site Footer Style */
.site-footer-widget-area {
    padding: 80px 0 40px;
}

.site-footer-widget-area .colum { width: 100%; }

.site-footer-widget-area .widget_meta ul {
    list-style: none;
    font-size: 90%;
    margin-bottom: 0;
}

.site-footer-widget-area .widget_meta ul li a {
    color: #303030;
}

.site-footer-widget-area .widget_meta ul li a:hover {
	color: #0052CC;
}

.site-info {
    color: rgba(0,0,0,.5);
    margin: 3rem 0;
    font-size: 15px;
    text-align: center;
}
.site-info p {
	margin-bottom: 0;
}
