/* Site Header Style */
.site-header {
    padding: 20px 0;
    background: #fff;
}

.site-branding a {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

/* Site Footer Style */
.site-info {
    color: rgba(0,0,0,.5);
    margin: 2rem 0;
    font-size: 15px;
    text-align: center;
}
.site-info p {
	margin-bottom: 0;
}